
ul.links {
  list-style-image: none;
  margin: 0;
  padding: 0 10px;
  left: 0;
  bottom: 1em;
  background: transparent url('../graphics/underline.png') no-repeat left center;
  height: 40px;
  width: 100%;
  position: absolute;
}

.links li {
  padding-left: 10px;
  margin: 0 0 0 5px;
  display: inline-block;
  position: relative;
}

.links a {
  position: relative;
  bottom: 5px;
}

/* This is bee32.png right before email link */
.links .emote {
  margin-right: 10px;
}

.portfolio a {
  text-shadow: none;
  color: #c94f82;
}
