main {
  width: inherit; }

header {
  text-align: center; }

.pill {
  padding: 0 4px;
  margin: 2px 0 2px 2px;
  border-radius: 4px;
  display: inline-block; }

.pill:first-child {
  margin: 2px 0; }

#palette {
  font-size: 85%;
  box-sizing: border-box;
  line-height: 1.7;
  width: 100%;
  max-height: 250px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(39, 40, 34, 0.95);
  border-top: 3px solid #fd78a8;
  padding: 5px;
  overflow: auto;
  text-align: center; }
  #palette .status {
    clear: both;
    margin: auto; }
  #palette .answer {
    color: white;
    background-color: #fd78a8;
    cursor: pointer; }

.question {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border: 3px solid #272822;
  border-radius: 4px;
  font-size: 150%;
  color: #eeeeee;
  float: left;
  clear: both; }
  @media (max-width: 640px) {
    .question {
      margin: 5px 0;
      padding: 5px; } }
  .question:hover {
    border-color: #45473d;
    background-color: #45473d; }
  .question.answered {
    background-color: #313d32;
    border-color: #008800; }
    .question.answered:hover {
      background-color: #475949;
      border-color: #008800; }
    .question.answered > span {
      color: #fd78a8; }
  .question.duplicate {
    background-color: #3d3131;
    border-color: #cc0000; }
    .question.duplicate:hover {
      background-color: #594747;
      border-color: #cc0000; }

.question img {
  max-height: 400px;
  max-width: 600px;
  height: auto;
  width: auto; }
  @media (max-width: 640px) {
    .question img {
      max-width: 100%; } }

.question.current, .question.current:hover, .question.current:active, .question.current:link, .question.current:visited, .question.current.answered:hover {
  border-color: #ffcc44;
  box-shadow: 0px 0px 15px #ffcc44 inset; }

.submit-quiz {
  display: block;
  clear: both;
  border: none;
  cursor: pointer;
  height: 266px;
  background: transparent url("submit.gif") no-repeat center;
  color: transparent;
  font-size: 4em;
  font-family: Times;
  text-align: center; }
  .submit-quiz:hover {
    color: #880000; }
  .submit-quiz:active {
    background-position: 50% 12px;
    color: red; }

/* For the grading sheet only: */
.example {
  display: block;
  clear: both;
  margin-bottom: 1em; }
  .example > h2 {
    margin-bottom: 0em; }
  .example > div {
    margin-top: 0em; }
