$dark-gray: #272822
$dark-gray-accent: #2f3029
$medium-pink: #fd78a8
$cream: #ffedd3
$deep-pink: #dd6898
$light-pink: #ff94c0

.clf:after
  content: ""
  clear: both
  display: table

.anim_target
  margin: auto
  display: block
  background-color: black

body, main, section, div, p, ul, li, h1, h2, h3
  margin: 0
  padding: 0

body
  background-color: $dark-gray
  color:            $medium-pink
  font-family: sans-serif

main
  margin: auto
  width:  900px
  position: relative

h1
  margin: 20px 0

a
  text-decoration: none
  color:           $deep-pink
  text-shadow:     1px 1px 1px #070802
  &:hover
    color: $light-pink

img
  display: block

.emote
  display:  inline-block
  position: relative
  top:      2px

// Code output/sample styles

tt
  padding: 0 3px
  background-color: #fffae3
  border: 1px dotted $medium-pink

code, samp
  color: #ffd4f0

.output
  border: 1px solid $medium-pink
  background-color: $dark-gray
  padding:          0.25em 0.5em

.cBR
  color: #F00
.cR
  color: #900
.cC
  color: #099
.comment
  color: #777

// BEEEEEES! header

.logo
  display: block
  margin: 30px 0
  clear:  both
  &>img
    margin: auto

.content
  background-color: $dark-gray-accent
  border-radius:    10px

/*Indicates that it spans the entire page width.*/
.sheet
  position: relative
  font-size:   1.25em
  padding:     1em
  margin-top:  10px
  font-weight: lighter
  line-height: 120%
  border-radius: 5px
  background-color: $cream
  color: $dark-gray-accent
  // color: $dark-gray

.sheet h1, .sheet h2, .sheet h3
  color: #c94f82

.sheet h1
  text-align: center

.sheet h3
  text-align: center
  font-weight: lighter
  font-family: serif
  font-style: italic
  font-size: 100%
  line-height: 150%
  margin-top: -0.5em
  margin-bottom: 2em

.sheet p
  margin: 20px 0

.sheet ul
  list-style-image: url('bee16.png')

.sheet li
  margin-bottom: 0.1em
  margin-left: 1.25em

.sheet:first-of-type:before,
.sheet:last-of-type:after
  content: ""
  position: absolute
  left: 0
  height: 135px
  width: 100%
  z-index: -10
  background: $dark-gray url('smear.jpg') no-repeat

.sheet:first-of-type:before
  top: -120px
  background-position: top
.sheet:last-of-type:after
  bottom: -120px
  background-position: bottom
