{{define "page"}}
<!DOCTYPE html>
<html>

<head>
<meta content="en-us" http-equiv="Content-Language">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="icon" type="image/png" href="s/bee32.png">
<link rel="stylesheet" type="text/css" href="s/bees.css">
{{template "stylesheets"}}

<title>{{template "title"}}</title>
</head>

<body>
  <main>
    <a class="logo" href=".">
      <img alt="Bees!" width="550" height="61" src="s/bees.png">
    </a>

    {{template "body" .}}

    <a class="logo" href=".">
      <img alt="Bees!" width="550" height="61" src="s/bees.png">
    </a>
  </main>
</body>

</html>
{{end}}
