{{define "title"}}Spamusement Pop Quiz!{{end}}
{{define "stylesheets"}}
<link rel="stylesheet" type="text/css" href="s/quiz.css">
{{end}}

{{define "comic_title"}}
<span class="answer pill" data-id="{{.Id}}">{{.Title}}</span>
{{end}}

{{define "comic_image"}}
<figure class="question" data-id="{{.Image}}">
  <img src="s/comics/{{.Image}}">
  <figcaption>NO TITLE SELECTED</figcaption>
</figure>
{{end}}

{{define "body"}}

<header>
  <h1>Spamusement Pop Quiz!</h1>
  <p>
    Match each <a href="http://www.spamusers.com">Spamusement</a> with its spam line. (Or die trying.) <img class="emote" src="s/serious.png"/>
  </p>
  <p>
    <span id="count-unanswered">{{len .}}</span> uncaptioned comics
    <span id="count-duplicates">0</span> duplicate answers
  </p>
</header>

<div class="palette">
{{range .}}
{{template "comic_title" .}}
{{end}}
</div>

<!-- <ul class="instructions">
  <li>Click on a comic to bring up the list of subject lines, then click on a line to assign it to that comic.</li>
  <li>Spam lines will disappear from the list as you assign them to comics. Hit <em>Show All</em> to see them in the list again.
    You can assign spam lines to multiple comics if you're unsure of the correct answer.
    Any comics with duplicate answers will get <span class="duplicate">highlighted in red.</span></li>
  <li>Use the buttons <em>Hide Answered</em> and <em>Only Duplicates</em> to filter the visible comics.</li>
  <li>Hit <em>Save Progress</em> to get a link back to the current state of the quiz!</li>
  <li><em>Submit</em> is all the way at the bottom.</li>
</ul> -->

{{range .}}
{{template "comic_image" .}}
{{end}}
<button class="submit-quiz" type="button">YOU WILL SUBMIT</button>
{{end}}
