{{define "title"}}Spamusement Pop Quiz!{{end}}
{{define "stylesheets"}}
<link rel="stylesheet" type="text/css" href="s/quiz.css">
{{end}}

{{define "comic_title"}}
<span class="answer pill" data-id="{{.Id}}">{{.Title}}</span>
{{end}}

{{define "comic_image"}}
<figure class="question" data-id="{{.Image}}" data-alt="{{.AltImage}}">
  <img src="s/comics/{{.Image}}">
  <figcaption></figcaption>
</figure>
{{end}}

{{define "body"}}

<header>
  <h1>Spamusement Pop Quiz!</h1>
  <p>
    Match each <a href="http://www.spamusers.com">Spamusement</a> with its spam line. (Or die trying.) <img class="emote" src="s/serious.png"/>
  </p>
</header>

<div id="palette">
  <p class="status">
    <span id="count-unanswered">{{len .}}</span> unanswered
    <span id="count-duplicates">0</span> duplicates
    <button>Save quiz state</button>
  </p>
  <div id="answer-wrapper">
    {{range .}}
    {{template "comic_title" .}}
    {{end}}
  </div>
</div>

<div id="question-wrapper" class="clf">
  {{range .}}
  {{template "comic_image" .}}
  {{end}}
</div>
<button class="submit-quiz" type="button">YOU WILL SUBMIT</button>
<script type="text/javascript" src="s/quiz.js"></script>
<script type="text/javascript" src="s/pack.js"></script>
{{end}}
